{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "node": true,
    "jasmine": true
  },
  "globals": {
    "jest": true
  },
  "rules": {
    "generator-star-spacing": ["off"],
    "import/no-extraneous-dependencies": ["off"]
  }
}
