{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "node": true,
    "jasmine": true
  },
  "globals": {
    "jest": true
  },
  "rules": {
    "generator-star-spacing": ["off"] // see https://github.com/babel/babel-eslint/issues/357
  }
}
