{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "env": {
        "node": true
    },
    "rules": {
        "comma-dangle": ["error", "never"],
        "indent": ["error", 4],

        // React
        // ---
        "react/jsx-indent": ["error", 4]
    }
}
