#container
	position relative
	max-width $layout-container
	padding ($layout-padding-s/2) $layout-padding-s

	@media (min-width: $bp-m) // TODO min-width to variable
		padding ($layout-padding-m/2) $layout-padding-m

	@media (min-width: $bp-l) // TODO min-width to variable
		padding ($layout-padding-l/2) $layout-padding-l
