#container
	position relative
	max-width $layout-container
	padding ($layout-padding-xs/2) $layout-padding-xs
	margin 0 auto

	@media $bp-gt-s
		padding ($layout-padding-s/2) $layout-padding-s

	@media $bp-gt-m
		padding ($layout-padding-m/2) $layout-padding-m
