#container
	position relative
	max-width $layout-container
	padding ($layout-padding-s/2) $layout-padding-s

	@media $bp-gt-m
		padding ($layout-padding-m/2) $layout-padding-m

	@media $bp-gt-l
		padding ($layout-padding-l/2) $layout-padding-l
