/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$doge1_name = 'doge1';
$doge1_x = 0px;
$doge1_y = 184px;
$doge1_offset_x = 0px;
$doge1_offset_y = -184px;
$doge1_width = 64px;
$doge1_height = 64px;
$doge1_total_width = 368px;
$doge1_total_height = 248px;
$doge1_image = 'sprite.png';
$doge1 = 0px 184px 0px -184px 64px 64px 368px 248px 'sprite.png' 'doge1';
$doge2_name = 'doge2';
$doge2_x = 0px;
$doge2_y = 0px;
$doge2_offset_x = 0px;
$doge2_offset_y = 0px;
$doge2_width = 184px;
$doge2_height = 184px;
$doge2_total_width = 368px;
$doge2_total_height = 248px;
$doge2_image = 'sprite.png';
$doge2 = 0px 0px 0px 0px 184px 184px 368px 248px 'sprite.png' 'doge2';
$doge3_name = 'doge3';
$doge3_x = 184px;
$doge3_y = 0px;
$doge3_offset_x = -184px;
$doge3_offset_y = 0px;
$doge3_width = 184px;
$doge3_height = 184px;
$doge3_total_width = 368px;
$doge3_total_height = 248px;
$doge3_image = 'sprite.png';
$doge3 = 184px 0px -184px 0px 184px 184px 368px 248px 'sprite.png' 'doge3';
$spritesheet_width = 368px;
$spritesheet_height = 248px;
$spritesheet_image = 'sprite.png';
$spritesheet_sprites = $doge1 $doge2 $doge3;
$spritesheet = 368px 248px 'sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
